.box {
  position: relative;
  padding: 5rem 2.5rem;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, $secondary, $secondary);
  transform: perspective(800px) rotateX(30deg);
  border: 1px solid $secondary;
  box-shadow: 0 20px 30px 0 $primary;
  transition: 350ms;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, $primary, $primary);
    transform-origin: center top;
    transform: scaleY(0);
    transition: 350ms;
  }

  &:hover {
    transform: perspective(800px) rotateX(0deg);
    box-shadow: 0 10px 15px 0 $primary;

    &::before {
      transform: scaleY(1);
    }
  }

  &__header {
    font-size: 4rem;
    text-align: center;
    color: $secondary;
    mix-blend-mode: difference;

  }

  &__paragraph {
    padding: 2rem 0;
    font-size: 1.6rem;
    line-height: 1.5;
    color: $secondary;
    mix-blend-mode: difference;

  }

  &__button {
    position: absolute;
    bottom: 2.5rem;
    right: 2.5rem;
    padding: 1rem 2rem;
    background-color: transparent;
    border: 1px solid $secondary;
    color: $secondary;
    transform: perspective(800px);
    mix-blend-mode: difference;
    cursor: pointer;

    &:hover {
      background-color: $secondary;
      color: $primary;
    }
  }

}