.card {

  position: relative;
  width: 30rem;
  height: 30rem;
  clip-path: polygon(
    25% 25%,
    50% 25%,
    50% 25%,
    75% 25%,
    75% 50%,
    75% 50%,
    75% 75%,
    50% 75%,
    50% 75%,
    25% 75%,
    25% 50%,
    25% 50%
    );
  background: url('./img/01.jpg') 50% 50% no-repeat;
  background-size: cover;
  transition: 250ms;

  &:hover {
    transform: rotateZ(15deg);
    clip-path: polygon(
      0% 0%,
      50% 0%,
      50% 25%,
      75% 25%,
      75% 50%,
      100% 50%,
      100% 100%,
      50% 100%,
      50% 75%,
      25% 75%,
      25% 50%,
      0% 50%
      );
  }

  &:hover &__price,
  &:hover &__size {
    opacity: 1;
  }

  &__shadow {
    filter: drop-shadow(0 0 1rem $black);
  }

  &__price,
  &__size {
    position: absolute;
    width: 15rem;
    height: 15rem;
    opacity: 0;
    transition: 500ms;
    color: $white;
  }

  &__size {
    top: 0;
    left: 0;
  }

  &__list {
    font-size: 1.4rem;
    font-weight: 700;
    list-style: none;
    margin: 1rem;
  }

  &__list-item {
    background: transparentize($black, 0.5);
    padding: 0.5rem;
    width: 3rem;
    text-align: center;
  }

  &__price {
    top: 50%;
    left: 50%;
    font-size: 1.2rem;
  }

  &__header {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 1rem;
    background: transparentize($black, 0.5);
    padding: 0.5rem 1rem;
  }
}