:root {
  font-size: 62.5%;
}

body {
  @include flex-center(row);
  min-height: 100vh;
  background-color: $secondary;
}

.grid {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 10rem;
  width: 90%;
}